NETOLOGY_GROUP_ID='netology_group_id'
YA_DISK_API_URL='https://cloud-api.yandex.net/v1/disk/resources'
YA_DISK_TOKEN='yandex_disk_token'
CATAAS_API_URL='https://cataas.com/cat'
HTTP_TIMEOUT_SECS=20
APP_LOGGING_LEVEL='INFO'